$primary-color: #333333;
$secondary-color: #808080;
$primary-light: #f3f3f3;
$secondary-light: #C0C0C0;
$primary-grey: #909090;
$primary-link: steelblue;
$card-background-color: #ffffff;
$max-width: 1100px;
$overlay-color: steelblue;
$main-showcase-img: url("../../static/showcase.jpg");
