@import "config";
// Tablets
@media (max-width: 1024px){
  #recent-projects {
    .projects-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .card:last-child{
        display: none;
      }
    }
  }
  #recent-blogs .blogs-container{
    .card img{
      align-items: center;
    }
  }
  #podcast .podcast-content {
    #img-content img{
      width: 230px;
      height: 220px;
    }
    .text-content{
      font-size: 0.8rem;
      a{
        padding: 0.5rem;
        width: 82px;
        text-align: center;
      }
    }
  }
  .display-projects{
    .display-project{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $card-background-color;
      padding: 1rem;
      border: 1px solid $secondary-light;
    img{
      border: 1px solid $primary-color;
      width: 275px;
      height: 200px;
    }
      a{
        color: $primary-color;
      }
      .project-text{
        margin-bottom: -2rem;
      h2{
        text-align: center;
      }
      p{
        visibility: hidden;
      }
    }
    }

  }
  #project-content{
    img{
      width: 1000px;
      height: 650px;
    }
  }
  #project-info{
    .project-grid{
        margin: 0 0.5rem;
    }
  }
  .blogs-showcase-content{
    margin: 0 0.5rem
  }
  #blog-post-title{
    .post-title-content{
      .blog-post-img{
        width: 1000px;
        height: 650px;
      }
      i{
        margin-right: 0.5rem;
      }
    }
  }
  .post-content{
    margin: 0 0.5rem;
  }
  .about-img-content{
    img{
      margin-left: 2rem;
    }
  }
  .contact-info{
      margin-left: 6rem;
  }
  .about-text {
    margin-top: -1.5rem;
  }
  .certifications-content .certification{
    img{
      width: 225px;
      height: 175px;
    }
  }
}

@media (max-width: 1023px) and (min-width: 767px){
  #page-content{
    .content-wrap{
  #projects-section{
  .section-content{
    .display-projects{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  }
      #project-showcase {
        #project-content {
          img {
            width: 750px;
            height: 500px;
          }
        }
      }
}
    .process-content{
      .section-project-content{
        .title-showcase{
          display: flex;
          flex-direction: column;
          .image-container{
            display: flex;
            align-self: center;
          }
          img{
            width: 750px;
            height: 450px;
          }
          .section-prompts{
            margin-left: -1rem;

          }
          .progress-project{
            display: flex;
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 1rem;
            .progress-bar{
              margin-top: 0.4rem;
              margin-left: 0.25rem;
              width: 300px;
            }
          }
        }
      }
    }
  }
  #page-content{
    .content-wrap{
    #blog-post-title{
      .post-title-content{
        .blog-post-img{
            width: 750px;
            height: 500px;
        }
      }
    }
  }
  }
  #page-content {
    .content-wrap {
      #about-intro {
        .about-intro-content {
          .about-img{
            margin-left: -2rem;
          }
          .contact-info{
            margin-left: 4rem;
          }
          .about-text{
            margin-bottom: -2rem;
          margin-left: 0.75rem;
          }
        }
      }
      #about-certifications{
        .certifications-content{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media(max-width: 766px) and (min-width: 320px) {
  #showcase{
   .showcase-container{
       display: flex;
     .showcase-content{
       h1{
         font-size: 1.9rem;
         margin-bottom: 1rem;
       }
     }
   }
  }
  #recent-projects{
    .projects-container{
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  #recent-blogs{
    .blogs-showcase-content{
      article{
        display: flex;
        flex-direction: column;
         align-items: center;
        img{
          width: 300px;
          height: 225px;
        }
      }
    }
  }
  #podcast{
    .podcast-content{
        display: flex;
        flex-direction: column;
    }
  }

  // Projects Showcase Page
  #projects-section{
    .section-content{
    .projects-content{
  .display-projects{
    display: grid;
    grid-template-columns: 1fr;
  }
    }
  }
  }

  #project-showcase{
    #project-content{
      .holder-border{
        width: 350px;
        height: 250px;
      }
    }
  }
  #project-info{
    .overview-container{
      .project-grid{
        .title-section{
          display: flex;
          flex-direction: row;
          border: none;
          margin-bottom: -2rem;
          h1{
            font-size: 2rem;
          }
          .btn-dark-square{
            height: 2.1rem;
            margin-left: 6rem;
            margin-top: 0;
            padding-bottom: 2.2rem;
            display: flex;
            justify-items: center;
          }
        }
        display: grid;
        grid-template-columns: 1fr;
      }
    }
    .project-info-content{
      margin-left: 0.25rem;
    }
  }
  #section {
    &-a, &-b, &-c {
      .section-project-content {
        .title-showcase {
          display: flex;
          flex-direction: column;
          .section-prompts{
            margin-left: -1rem;
          }
          .image-container {
            display: flex;
            align-self: center;
            img{
            width: 350px;
            height: 275px
            };
          }
        }
      }
    }
  }

  #blog-post-title{
    .post-title-content{
      .blog-post-img{
        width: 350px;
        height: 275px;
      }
    }
  }
  #post-content-section{
    .post-content{
      .post-section{
        .section-image{
          .holder-border{
            width: 350px;
            height: 275px;
          }
        }
      }
    }
  }
  // Blogs Showcase Page
  #blogs-showcase{
    .blogs-showcase-content{
      article{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  #about-intro{
    .about-intro-content{
      display: flex;
      flex-direction: column;
      .contact-info{
        margin-left: 7.5rem
      }
      img{
        margin-left: 3.4rem;
      }
      .about-text-content{
        h1{
          font-size: 1.7rem;
          text-align: center;
        }
        p{
          text-indent: 20px;
          margin-bottom: -2rem;
        }
      }
    }
  }
  #about-education{
    .about-education-content{
      .schools{
        .school{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 2rem;
          img{
            margin-bottom: -1rem;
          }
          &:last-child{
            margin-bottom: -1rem;
          }
          .school-info{
            h1, h2, h3{
            text-align: center;
            }
          }
        }
      }
    }
  }
  #about-certifications{
    .about-certifications-content{
      .certifications-content{
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
  #about-competition{
    .about-competition-content{
      .competition-content{
        .competition{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem;
          .competition-text{
            text-align: center;
            h1{
              font-size: 1.1rem;
            }
            h2{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}