@import "config";


#page-content{
  position: relative;
  min-height: 100vh;
}

.content-wrap{
  padding-bottom: 4rem;
}

.container{
  max-width: $max-width;
  margin: auto;
  padding: 0.25rem 0;
}

.current{
  color: $primary-link;
}

.card{
  background: $card-background-color;
  padding: 1rem;
  border: 1px solid $secondary-light;
}

.py {
  &-half {
    padding: 0.5rem 0;
  }
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.p{
  &-half {
    padding: 0.5rem ;
  }
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
}

.my {
  &-half {
    margin: 0.5rem 0;
  }
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.m{
  &-half {
    margin: 0.5rem;
  }
  &-1 {
    margin: 1rem;
  }
  &-2 {
    margin: 2rem;
  }
  &-3 {
    margin: 3rem;
  }
  &-4 {
    margin: 4rem;
  }
}

.recent-section-title{
  color: $primary-color;
}

.center{
  text-align: center;
}

.btn-dark{
    background: $primary-color;
    color: $primary-light;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border-radius: 1rem;
    &:hover{
      background: rgba($primary-color, 0.9);
    }
}

.btn-dark-square{
    background: $primary-color;
    padding: 0.75rem;
    &:hover{
      background: rgba($primary-color, 0.9);
    }
}

.under{
  text-decoration: underline;
}

.project-name{
  text-decoration: underline;
  margin-top: 0.25rem;
}

.section-border-bottom{
  margin: 0 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed $primary-color;
}

.holder-border{
  border: 1px solid $secondary-light;
}

.line-container {
  display: flex;
  justify-content: center;
}

.line {
  width: 18rem;
  border-left: none;
  border-bottom: 3px dotted $primary-color;
}

.prompt{
  font-weight: bold;
  color: steelblue;
}

.answer{
  font-size: 1.3rem;
}

.under-blue{
  text-decoration: $primary-link underline;
}

.blogs-showcase-content{
  article {
    display: flex;
    margin-bottom: 1rem;
    img {
      width: 300px;
      height: 200px;
    }
    .content {
      margin: 0 1rem;
    }
    a{
      color: $primary-link;
    }
  }
}

// Tags System
  .tags {
    .tag {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      border-radius: 1rem;
      color: $primary-white !important;
    }

    .python {
      background: $tag-python;
      color: set-text-color($tag-python);
    }

    .ruby {
      background: $tag-ruby;
      color: set-text-color($tag-ruby);
    }
    .javascript {
      background: $tag-javascript;
      color: set-text-color($tag-javascript);
    }
    .java {
      background: $tag-java;
      color: set-text-color($tag-java);
    }
    .r{
      background: $tag-r;
      color: set-text-color($tag-r);
    }
    .other-lang{
      background: $tag-other-lang;
      color: set-text-color($tag-other-lang);
    }
    .web-dev{
      background: $tag-web-dev;
      color: set-text-color($tag-web-dev);
    }
    .data-science{
      background: $tag-data-science;
      color: set-text-color($tag-data-science);
    }
    .competitions{
      background: $tag-competitions;
      color: set-text-color($tag-competitions);
    }
    .api{
      background: $tag-api;
      color: set-text-color($tag-api);
    }
    .machine-learning{
      background: $tag-machine-learning;
      color: set-text-color($tag-machine-learning);
    }
    .ai{
      background: $tag-ai;
      color: set-text-color($tag-ai);
    }
    .front-end{
      background: $tag-front-end;
      color: set-text-color($tag-front-end);
    }
    .other-topic{
      background: $tag-other-topic;
      color: set-text-color($tag-other-topic);
    }
    .event{
      background: $tag-event;
      color: set-text-color($tag-event);
    }
    .tensorflow{
      background: $tag-tensor-flow;
      color: set-text-color($tag-tensor-flow);
    }
    .django{
      background: $tag-django;
      color: set-text-color($tag-django);
    }
    .rails{
      background: $tag-rails;
      color: set-text-color($tag-rails);
    }
    .html{
      background: $tag-html;
      color: set-text-color($tag-html);
    }
  .css{
    background: $tag-css;
    color: set-text-color($tag-css);
  }
  .sass{
    background: $tag-sass;
    color: set-text-color($tag-sass);
  }
  .algorithms{
    background: $tag-algorithms;
    color: set-text-color($tag-algorithms);
  }
}