@import "config";

#about-intro{
  margin-top: 1rem;
  .about-intro-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    img{
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    .about-img-content{
      margin-top: 1rem;
    }
    .about-text-content{
      margin-top: 2.5rem;
      h1{
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      p{
        font-size: 1.2rem;
      }
    }
  }
}

.contact-info{
  display: inline-block;
  margin-left: 4rem;
  a{
    color: $primary-link;
    font-size: 2.2rem;
    margin-left: 0.25rem;
    &:hover{
      filter: brightness(75%);
    }
  }
}

#about-education {
    .schools {
      margin-top: 1rem;
      .school {
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;

        .school-info {
          display: flex;
          flex-direction: column;
          margin: 1.7rem 0 0 0.5rem;

          h1 {
            font-size: 1.3rem;
          }

          h2 {
            font-size: 1.1rem;
          }

          h3 {
            font-size: 1rem;
          }
        }

        img {
          width: 150px;
          height: 150px;
        }

        .nest {
          border: 2px solid $secondary-light;
        }
      }
    }
  }


.section-resume{
  .about-title{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    h1 {
      font-size: 1.8rem;
    }
  }
}

#skills{
  margin-top: 0;
}
.skills-content{
  margin-left: 2.5rem;
  .skills-list{
    ul{
        column-count: 2;

      li{
        list-style: disc;
        font-size: 1.3rem;
      }
    }
  }
}

.certifications-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  .certification{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 300px;
      height: 225px;
    }
    .certification-text{
    h1{
      font-size: 1.3rem;
    }
    h2{
      font-size: 1.1rem;
    }
      span{
        color: $primary-link;
        h1{
          font-size: 1.4rem;
        }
        h2{
          font-size: 1.2rem;
        }
      }
    }
  }
}

.competition-content{
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0.5rem;
  .competition {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 1rem 0.5rem 0;

    img {
      width: 250px;
      height: 175px;
    }

    .competition-text {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      margin-left: 0.75rem;
      h1 {
        font-size: 1.4rem;
      }

      h2 {
        font-size: 1.3rem;
      }
      span {
        color: $primary-link;

      }
    }
  }
}
