#blog-post-title{
  .post-title-content{
    h1{
      margin-bottom: 0.25rem;
    }
    i{
      margin-right: 0.25rem;
    }
    h3{
      font-size: 1.1rem;
    }
    .tags-section{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
      h4{
        margin-top: -0.15rem;
        font-size: 1.1rem;
      }
      .tags{
        margin-left: 0.5rem;
      }
    }
    .blog-post-img{
      width: 1100px;
      height: 750px;
    }
  }
}

.post-content{
  margin-bottom: 2rem;
  margin-left: 1rem;
  .post-section{
    h2{
      margin-bottom: 0.5rem;
    }
    p{
      display: inline-block;
      margin-bottom: 1rem;
      text-indent: 2rem;
    }
    .section-image{
      display: flex;
      justify-content: center;
    }
    img{
      width: 500px;
      height: 350px;

    }
    &:first-child{
      margin-top: 0.5rem;
    }
  }
}
#references{
  padding-bottom: 2rem;
  margin-left: 0.5rem;
  .references-content{
    h2{
      padding-bottom: 0.25rem;
    }
    ul{
      padding-left: 2rem;
      list-style: disc;
    }
  }
}
