@import "config";

body {
  font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

#nav-bar #menu {
  display: none;
}

#nav-bar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#nav-bar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.25rem;
}

.active {
  background-color: $primary-color;
  color: white;
}