@import "config";


#nav-bar {
  background: $primary-color;
  color: $primary-light;

  .navbar-content{
    display: flex;
    justify-content: space-between;

    .logo {
      align-self: center;
      font-size: 1.4rem;
      padding: 0 0.75rem;
    }
    .away{
      display: none;
    }
    #menu {
      display: flex;
      flex-direction: row;

      a {
        padding: 0.75rem;
        font-weight: bold;
          &:hover {
            color: $primary-link;
          }
        }
      }
    }
  }
