@import "config";

// Grid
#projects-section{
  .section-content{
    grid-template-columns: 2fr 1fr;
    .projects-intro{
      #page-title{
        margin: 1rem 0 0.5rem 0;
        font-size: 1.8rem;
      }
      #page-description{
        margin-bottom: 1.1rem;
        font-size: 1.1rem;
      }
    }
    .projects-content{
      display: grid;
      grid-template-columns: 1fr;
      .display-projects{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}
