@import "config","utilities";
@import "navbar","footer";
@import "media";
@import 'home',"project", "projects";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: $primary-light;
}

a{
  text-decoration: none;
  color: $primary-light;
}

ul{
  list-style: none;
}
