@import "config","utilities";
@import "navbar","footer";
@import 'home',"project", "projects", "blogs", 'blog', 'about';
@import "media";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: $primary-light;
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
  color: $primary-light;
}

ul{
  list-style: none;
}

