@import "../config","../utilities";
@import "../footer";
@import "../media";
@import "../config","../utilities";
@import "../footer";
@import "../media";

#nav-bar {
  overflow: hidden;
  background-color: $primary-color;
  position: relative;
}

#nav-bar #menu {
  display: none;
}

#nav-bar a {
  color: $primary-light;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  display: block;
}

#nav-bar a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.25rem;
}

#menu a{
  font-size: 1rem;
  text-align: center;
  border-bottom: 1px solid $secondary-light;
  font-weight: bold;
  &:hover {
    color: $primary-link;
  }
  &:first-child{
    border-top: 1px solid $primary-light;
  }
  &:last-child{
    border-bottom: none;
  }
}

.active {
  background-color: $primary-color;
  color: $primary-light;
}

.current{
    color: $primary-link !important;
}