#showcase {
  color: #f3f3f3;
  background: #333333;
  position: relative; }
  #showcase:before {
    content: '';
    background: url("../../static/showcase.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; }
  #showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh; }
    #showcase .showcase-container .showcase-content {
      z-index: 1; }
      #showcase .showcase-container .showcase-content h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem; }
      #showcase .showcase-container .showcase-content p {
        font-size: 1.1rem; }

#recent-projects .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }
  #recent-projects .projects-container .card {
    display: flex;
    flex-direction: column;
    border: #C0C0C0 1px solid;
    align-items: center; }
    #recent-projects .projects-container .card img {
      width: 250px;
      height: 150px; }

#podcast .podcast-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative; }
  #podcast .podcast-content #img-content {
    justify-self: center;
    align-self: center;
    position: relative; }
    #podcast .podcast-content #img-content img {
      width: 360px;
      height: 340px; }
  #podcast .podcast-content .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #podcast .podcast-content .text-content h1 {
      margin-bottom: 0.5rem; }
    #podcast .podcast-content .text-content a {
      width: 113px; }
      #podcast .podcast-content .text-content a:hover {
        background: rgba(51, 51, 51, 0.8); }

#img-content img {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translate(-400px, 0); }

#img-content.show img {
  transform: none;
  visibility: visible;
  opacity: 1; }
