#nav-bar {
  background: #333333;
  color: #f3f3f3; }
  #nav-bar .navbar-content {
    display: flex;
    justify-content: space-between; }
    #nav-bar .navbar-content .logo {
      align-self: center;
      font-size: 1.4rem;
      padding: 0 0.75rem; }
    #nav-bar .navbar-content .away {
      display: none; }
    #nav-bar .navbar-content #menu {
      display: flex;
      flex-direction: row; }
      #nav-bar .navbar-content #menu a {
        padding: 0.75rem;
        font-weight: bold; }
        #nav-bar .navbar-content #menu a:hover {
          color: steelblue; }
