#page-content {
  position: relative;
  min-height: 100vh; }

.content-wrap {
  padding-bottom: 4rem; }

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0.25rem 0; }

.current {
  color: steelblue; }

.card {
  background: #ffffff;
  padding: 1rem;
  border: 1px solid #C0C0C0; }

.py-half {
  padding: 0.5rem 0; }

.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

.p-half {
  padding: 0.5rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.my-half {
  margin: 0.5rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.my-4 {
  margin: 4rem 0; }

.m-half {
  margin: 0.5rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.recent-section-title {
  color: #333333; }

.center {
  text-align: center; }

.btn-dark {
  background: #333333;
  color: #f3f3f3;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border-radius: 1rem; }
  .btn-dark:hover {
    background: rgba(51, 51, 51, 0.9); }

.btn-dark-square {
  background: #333333;
  padding: 0.75rem; }
  .btn-dark-square:hover {
    background: rgba(51, 51, 51, 0.9); }

.under {
  text-decoration: underline; }

.project-name {
  text-decoration: underline;
  margin-top: 0.25rem; }

.section-border-bottom {
  margin: 0 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed #333333; }

.holder-border {
  border: 1px solid #C0C0C0; }

.line-container {
  display: flex;
  justify-content: center; }

.line {
  width: 18rem;
  border-left: none;
  border-bottom: 3px dotted #333333; }

.prompt {
  font-weight: bold;
  color: steelblue; }

.answer {
  font-size: 1.3rem; }

.under-blue {
  text-decoration: steelblue underline; }

.blogs-showcase-content article {
  display: flex;
  margin-bottom: 1rem; }
  .blogs-showcase-content article img {
    width: 300px;
    height: 200px; }
  .blogs-showcase-content article .content {
    margin: 0 1rem; }
  .blogs-showcase-content article a {
    color: steelblue; }

.tags .tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  color: #ffffff !important; }

.tags .python {
  background: #2980B9;
  color: #f3f3f3; }

.tags .ruby {
  background: #C70039;
  color: #f3f3f3; }

.tags .javascript {
  background: #F1C40F;
  color: #333333; }

.tags .java {
  background: #D35400;
  color: #f3f3f3; }

.tags .r {
  background: #95A5A6;
  color: #333333; }

.tags .other-lang {
  background: #2E4053;
  color: #f3f3f3; }

.tags .web-dev {
  background: #AED6F1;
  color: #333333; }

.tags .data-science {
  background: #45B39D;
  color: #f3f3f3; }

.tags .competitions {
  background: #E74C3C;
  color: #333333; }

.tags .api {
  background: #AF7AC5;
  color: #333333; }

.tags .machine-learning {
  background: #0CC664;
  color: #f3f3f3; }

.tags .ai {
  background: #F4D03F;
  color: #333333; }

.tags .front-end {
  background: #7DCEA0;
  color: #333333; }

.tags .other-topic {
  background: #E9967A;
  color: #333333; }

.tags .event {
  background: #008080;
  color: #f3f3f3; }

.tags .tensorflow {
  background: #EF9D0D;
  color: #f3f3f3; }

.tags .django {
  background: #086912;
  color: #f3f3f3; }

.tags .rails {
  background: #710635;
  color: #f3f3f3; }

.tags .html {
  background: #F17F13;
  color: #333333; }

.tags .css {
  background: #29138A;
  color: #f3f3f3; }

.tags .sass {
  background: #F44592;
  color: #333333; }

.tags .algorithms {
  background: #5FA37F;
  color: #333333; }

#footer {
  background: #333333;
  color: #f3f3f3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem; }
  #footer .footer-content {
    display: flex;
    justify-content: space-between; }
    #footer .footer-content h4 {
      margin-left: 1rem; }
    #footer .footer-content .contact {
      margin: 0 1rem; }
      #footer .footer-content .contact i {
        font-size: 1.5rem;
        padding: 0 0.25rem; }

#showcase {
  color: #f3f3f3;
  background: #333333;
  position: relative; }
  #showcase:before {
    content: '';
    background: url("../../static/showcase.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; }
  #showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh; }
    #showcase .showcase-container .showcase-content {
      z-index: 1; }
      #showcase .showcase-container .showcase-content h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem; }
      #showcase .showcase-container .showcase-content p {
        font-size: 1.1rem; }

#recent-projects .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }
  #recent-projects .projects-container .card {
    display: flex;
    flex-direction: column;
    border: #C0C0C0 1px solid;
    align-items: center; }
    #recent-projects .projects-container .card img {
      width: 250px;
      height: 150px; }

#podcast .podcast-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative; }
  #podcast .podcast-content #img-content {
    justify-self: center;
    align-self: center;
    position: relative; }
    #podcast .podcast-content #img-content img {
      width: 360px;
      height: 340px; }
  #podcast .podcast-content .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #podcast .podcast-content .text-content h1 {
      margin-bottom: 0.5rem; }
    #podcast .podcast-content .text-content a {
      width: 113px; }
      #podcast .podcast-content .text-content a:hover {
        background: rgba(51, 51, 51, 0.8); }

#img-content img {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translate(-400px, 0); }

#img-content.show img {
  transform: none;
  visibility: visible;
  opacity: 1; }

#project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem; }
  #project-content h1 {
    margin: 0.5rem 0;
    font-size: 1.7rem; }
  #project-content h3 {
    margin-bottom: 0.5rem; }
  #project-content img {
    width: 1100px;
    height: 750px; }

#project-info .project-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  margin-bottom: 2rem; }
  #project-info .project-grid .title-section {
    border-right: dashed 2px #333333; }
    #project-info .project-grid .title-section h1 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1.3rem; }
  #project-info .project-grid .project-info-content h2 {
    margin: 0.5rem 0; }
  #project-info .project-grid .project-info-content p {
    font-size: 1.1rem; }
  #project-info .project-grid .project-info-content .prompts {
    margin-bottom: 2rem; }

#process .process-content {
  border-bottom: 1px rgba(51, 51, 51, 0.4) solid;
  margin: 0 0.5rem; }
  #process .process-content h1 {
    font-weight: bold;
    font-size: 1.8rem;
    padding-left: 0.5rem; }

#section-a .progress-bar, #section-b .progress-bar, #section-c .progress-bar {
  overflow: hidden;
  height: 20px;
  background: orange;
  border-radius: 5px;
  margin-bottom: 0.6rem; }
  #section-a .progress-bar div, #section-b .progress-bar div, #section-c .progress-bar div {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    color: #fff;
    text-align: center;
    background: green; }

.process-content:last-child .line-container .line {
  visibility: hidden; }

.process-content .section-project-content {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.process-content .section-project-content:first-child {
  margin-top: 0; }

.process-content .title-showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .process-content .title-showcase .section-prompts {
    padding-left: 1rem; }
    .process-content .title-showcase .section-prompts h2 {
      font-size: 1.3rem;
      color: steelblue;
      margin-bottom: 0.5rem; }
      .process-content .title-showcase .section-prompts h2 span {
        color: #333333; }
    .process-content .title-showcase .section-prompts .progress-project {
      margin-top: 1rem; }
  .process-content .title-showcase .image-container {
    display: flex;
    margin-bottom: 1rem; }
    .process-content .title-showcase .image-container img {
      display: flex;
      height: 300px; }
  .process-content .title-showcase .description h3 {
    text-decoration: steelblue; }
  .process-content .title-showcase p {
    font-size: 1.2rem; }

#projects-section .section-content {
  grid-template-columns: 2fr 1fr; }
  #projects-section .section-content .projects-intro #page-title {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.8rem; }
  #projects-section .section-content .projects-intro #page-description {
    margin-bottom: 1.1rem;
    font-size: 1.1rem; }
  #projects-section .section-content .projects-content {
    display: grid;
    grid-template-columns: 1fr; }
    #projects-section .section-content .projects-content .display-projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem; }

#blogs-title .blogs-title-content h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem; }

#blogs-title .blogs-title-content p {
  font-size: 1.1rem; }

#blog-post-title .post-title-content h1 {
  margin-bottom: 0.25rem; }

#blog-post-title .post-title-content i {
  margin-right: 0.25rem; }

#blog-post-title .post-title-content h3 {
  font-size: 1.1rem; }

#blog-post-title .post-title-content .tags-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem; }
  #blog-post-title .post-title-content .tags-section h4 {
    margin-top: -0.15rem;
    font-size: 1.1rem; }
  #blog-post-title .post-title-content .tags-section .tags {
    margin-left: 0.5rem; }

#blog-post-title .post-title-content .blog-post-img {
  width: 1100px;
  height: 750px; }

.post-content {
  margin-bottom: 2rem;
  margin-left: 1rem; }
  .post-content .post-section h2 {
    margin-bottom: 0.5rem; }
  .post-content .post-section p {
    display: inline-block;
    margin-bottom: 1rem;
    text-indent: 2rem; }
  .post-content .post-section .section-image {
    display: flex;
    justify-content: center; }
  .post-content .post-section img {
    width: 500px;
    height: 350px; }
  .post-content .post-section:first-child {
    margin-top: 0.5rem; }

#references {
  padding-bottom: 2rem;
  margin-left: 0.5rem; }
  #references .references-content h2 {
    padding-bottom: 0.25rem; }
  #references .references-content ul {
    padding-left: 2rem;
    list-style: disc; }

#about-intro {
  margin-top: 1rem; }
  #about-intro .about-intro-content {
    display: grid;
    grid-template-columns: 1fr 2fr; }
    #about-intro .about-intro-content img {
      width: 250px;
      height: 250px;
      border-radius: 50%; }
    #about-intro .about-intro-content .about-img-content {
      margin-top: 1rem; }
    #about-intro .about-intro-content .about-text-content {
      margin-top: 2.5rem; }
      #about-intro .about-intro-content .about-text-content h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem; }
      #about-intro .about-intro-content .about-text-content p {
        font-size: 1.2rem; }

.contact-info {
  display: inline-block;
  margin-left: 4rem; }
  .contact-info a {
    color: steelblue;
    font-size: 2.2rem;
    margin-left: 0.25rem; }
    .contact-info a:hover {
      filter: brightness(75%); }

#about-education .schools {
  margin-top: 1rem; }
  #about-education .schools .school {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row; }
    #about-education .schools .school .school-info {
      display: flex;
      flex-direction: column;
      margin: 1.7rem 0 0 0.5rem; }
      #about-education .schools .school .school-info h1 {
        font-size: 1.3rem; }
      #about-education .schools .school .school-info h2 {
        font-size: 1.1rem; }
      #about-education .schools .school .school-info h3 {
        font-size: 1rem; }
    #about-education .schools .school img {
      width: 150px;
      height: 150px; }
    #about-education .schools .school .nest {
      border: 2px solid #C0C0C0; }

.section-resume .about-title {
  margin-left: 1rem;
  display: flex;
  flex-direction: row; }
  .section-resume .about-title h1 {
    font-size: 1.8rem; }

#skills {
  margin-top: 0; }

.skills-content {
  margin-left: 2.5rem; }
  .skills-content .skills-list ul {
    column-count: 2; }
    .skills-content .skills-list ul li {
      list-style: disc;
      font-size: 1.3rem; }

.certifications-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem; }
  .certifications-content .certification {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .certifications-content .certification img {
      width: 300px;
      height: 225px; }
    .certifications-content .certification .certification-text h1 {
      font-size: 1.3rem; }
    .certifications-content .certification .certification-text h2 {
      font-size: 1.1rem; }
    .certifications-content .certification .certification-text span {
      color: steelblue; }
      .certifications-content .certification .certification-text span h1 {
        font-size: 1.4rem; }
      .certifications-content .certification .certification-text span h2 {
        font-size: 1.2rem; }

.competition-content {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0.5rem; }
  .competition-content .competition {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 1rem 0.5rem 0; }
    .competition-content .competition img {
      width: 250px;
      height: 175px; }
    .competition-content .competition .competition-text {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      margin-left: 0.75rem; }
      .competition-content .competition .competition-text h1 {
        font-size: 1.4rem; }
      .competition-content .competition .competition-text h2 {
        font-size: 1.3rem; }
      .competition-content .competition .competition-text span {
        color: steelblue; }

@media (max-width: 1024px) {
  #recent-projects .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    #recent-projects .projects-container .card:last-child {
      display: none; }
  #recent-blogs .blogs-container .card img {
    align-items: center; }
  #podcast .podcast-content #img-content img {
    width: 230px;
    height: 220px; }
  #podcast .podcast-content .text-content {
    font-size: 0.8rem; }
    #podcast .podcast-content .text-content a {
      padding: 0.5rem;
      width: 82px;
      text-align: center; }
  .display-projects .display-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #C0C0C0; }
    .display-projects .display-project img {
      border: 1px solid #333333;
      width: 275px;
      height: 200px; }
    .display-projects .display-project a {
      color: #333333; }
    .display-projects .display-project .project-text {
      margin-bottom: -2rem; }
      .display-projects .display-project .project-text h2 {
        text-align: center; }
      .display-projects .display-project .project-text p {
        visibility: hidden; }
  #project-content img {
    width: 1000px;
    height: 650px; }
  #project-info .project-grid {
    margin: 0 0.5rem; }
  .blogs-showcase-content {
    margin: 0 0.5rem; }
  #blog-post-title .post-title-content .blog-post-img {
    width: 1000px;
    height: 650px; }
  #blog-post-title .post-title-content i {
    margin-right: 0.5rem; }
  .post-content {
    margin: 0 0.5rem; }
  .about-img-content img {
    margin-left: 2rem; }
  .contact-info {
    margin-left: 6rem; }
  .about-text {
    margin-top: -1.5rem; }
  .certifications-content .certification img {
    width: 225px;
    height: 175px; } }

@media (max-width: 1023px) and (min-width: 767px) {
  #page-content .content-wrap #projects-section .section-content .display-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  #page-content .content-wrap #project-showcase #project-content img {
    width: 750px;
    height: 500px; }
  #page-content .process-content .section-project-content .title-showcase {
    display: flex;
    flex-direction: column; }
    #page-content .process-content .section-project-content .title-showcase .image-container {
      display: flex;
      align-self: center; }
    #page-content .process-content .section-project-content .title-showcase img {
      width: 750px;
      height: 450px; }
    #page-content .process-content .section-project-content .title-showcase .section-prompts {
      margin-left: -1rem; }
    #page-content .process-content .section-project-content .title-showcase .progress-project {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 1rem; }
      #page-content .process-content .section-project-content .title-showcase .progress-project .progress-bar {
        margin-top: 0.4rem;
        margin-left: 0.25rem;
        width: 300px; }
  #page-content .content-wrap #blog-post-title .post-title-content .blog-post-img {
    width: 750px;
    height: 500px; }
  #page-content .content-wrap #about-intro .about-intro-content .about-img {
    margin-left: -2rem; }
  #page-content .content-wrap #about-intro .about-intro-content .contact-info {
    margin-left: 4rem; }
  #page-content .content-wrap #about-intro .about-intro-content .about-text {
    margin-bottom: -2rem;
    margin-left: 0.75rem; }
  #page-content .content-wrap #about-certifications .certifications-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 766px) and (min-width: 320px) {
  #showcase .showcase-container {
    display: flex; }
    #showcase .showcase-container .showcase-content h1 {
      font-size: 1.9rem;
      margin-bottom: 1rem; }
  #recent-projects .projects-container {
    display: grid;
    grid-template-columns: 1fr; }
  #recent-blogs .blogs-showcase-content article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #recent-blogs .blogs-showcase-content article img {
      width: 300px;
      height: 225px; }
  #podcast .podcast-content {
    display: flex;
    flex-direction: column; }
  #projects-section .section-content .projects-content .display-projects {
    display: grid;
    grid-template-columns: 1fr; }
  #project-showcase #project-content .holder-border {
    width: 350px;
    height: 250px; }
  #project-info .overview-container .project-grid {
    display: grid;
    grid-template-columns: 1fr; }
    #project-info .overview-container .project-grid .title-section {
      display: flex;
      flex-direction: row;
      border: none;
      margin-bottom: -2rem; }
      #project-info .overview-container .project-grid .title-section h1 {
        font-size: 2rem; }
      #project-info .overview-container .project-grid .title-section .btn-dark-square {
        height: 2.1rem;
        margin-left: 6rem;
        margin-top: 0;
        padding-bottom: 2.2rem;
        display: flex;
        justify-items: center; }
  #project-info .project-info-content {
    margin-left: 0.25rem; }
  #section-a .section-project-content .title-showcase, #section-b .section-project-content .title-showcase, #section-c .section-project-content .title-showcase {
    display: flex;
    flex-direction: column; }
    #section-a .section-project-content .title-showcase .section-prompts, #section-b .section-project-content .title-showcase .section-prompts, #section-c .section-project-content .title-showcase .section-prompts {
      margin-left: -1rem; }
    #section-a .section-project-content .title-showcase .image-container, #section-b .section-project-content .title-showcase .image-container, #section-c .section-project-content .title-showcase .image-container {
      display: flex;
      align-self: center; }
      #section-a .section-project-content .title-showcase .image-container img, #section-b .section-project-content .title-showcase .image-container img, #section-c .section-project-content .title-showcase .image-container img {
        width: 350px;
        height: 275px; }
  #blog-post-title .post-title-content .blog-post-img {
    width: 350px;
    height: 275px; }
  #post-content-section .post-content .post-section .section-image .holder-border {
    width: 350px;
    height: 275px; }
  #blogs-showcase .blogs-showcase-content article {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #about-intro .about-intro-content {
    display: flex;
    flex-direction: column; }
    #about-intro .about-intro-content .contact-info {
      margin-left: 7.5rem; }
    #about-intro .about-intro-content img {
      margin-left: 3.4rem; }
    #about-intro .about-intro-content .about-text-content h1 {
      font-size: 1.7rem;
      text-align: center; }
    #about-intro .about-intro-content .about-text-content p {
      text-indent: 20px;
      margin-bottom: -2rem; }
  #about-education .about-education-content .schools .school {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    #about-education .about-education-content .schools .school img {
      margin-bottom: -1rem; }
    #about-education .about-education-content .schools .school:last-child {
      margin-bottom: -1rem; }
    #about-education .about-education-content .schools .school .school-info h1, #about-education .about-education-content .schools .school .school-info h2, #about-education .about-education-content .schools .school .school-info h3 {
      text-align: center; }
  #about-certifications .about-certifications-content .certifications-content {
    display: grid;
    grid-template-columns: 1fr; }
  #about-competition .about-competition-content .competition-content .competition {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; }
    #about-competition .about-competition-content .competition-content .competition .competition-text {
      text-align: center; }
      #about-competition .about-competition-content .competition-content .competition .competition-text h1 {
        font-size: 1.1rem; }
      #about-competition .about-competition-content .competition-content .competition .competition-text h2 {
        font-size: 1rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: #f3f3f3;
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: #f3f3f3; }

ul {
  list-style: none; }
